.heading {
  scroll-margin: 20px;
  border-bottom: 1px solid rgb(39, 39, 42);
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  width: 100%;
  text-align: left;
  margin: 3rem 0 0 0;
  letter-spacing: -0.025em;
}

.Accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.AccordionItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid rgb(39, 39, 42);
  width: 100%;
}

.AccordionTrigger {
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
  padding: 0;
  justify-content: space-between;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  align-items: center;
  flex: 1 1 0%;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 1rem 0;
}

.AccordionTrigger:hover {
  text-decoration: underline;
}

.AccordionContent {
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: hidden;
  margin: 0;
  font-weight: 600;
  /* display: none; */
}

.AccordionContent p {
  margin: 0;
  text-align: left;
}
